body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.album {
  padding-left: 5%;
}

.album__cover {
  cursor: pointer;
  height: 250px;
  width: auto;
}

.track {
  border: solid tomato;
  margin-bottom: 1%;
}

a{
  margin-right: 5px;
}